[2018-07-21 21:26] MabezDev opened #1 "Implement PLL Sysclock"
Required for Faster SPI speeds etc

[2018-07-21 21:27] MabezDev opened #2 "Touch Sense controller (TSC)"
Plan API for future use.

[2018-07-25 18:35] #1 closed

[2018-07-26 10:28] MabezDev opened #3 "RTC"
- LSI RC for clock source (internal)

[2018-07-26 10:29] MabezDev opened #4 "Serial DMA"

[2018-07-29 13:36] MabezDev commented on #4
Completed cfb781563504969c10f0eff6120bf3c1d50d42e8

[2018-07-29 13:36] #4 closed

[2018-07-31 08:14] MabezDev opened #6 "TX DMA for SPI"
Would be nice to have buffered TX dma for SPI, this may not work as our writes will not be buffered, but we would know how many bytes we are going to send, maybe we can stream bytes in chunks.

[2018-08-05 19:38] MabezDev opened #8 "RTC alarm"
- configurable Alarms using the RTC.

[2018-08-05 19:44] #3 closed

[2018-08-05 19:44] #8 closed

[2018-08-12 23:50] MabezDev opened #9 "DMA partial peek serial panic"
It seems the logic for partial peeking causes a panic after 3 messages are sent, this will almost certainly be some faulty logic.

[2018-08-13 16:08] #9 closed

[2018-08-20 11:51] MabezDev commented on #2
Initial PR in #11

[2018-09-08 15:26] tekjar opened #12 "Loading program"
Hi,

I just got this board. How do I load programs?

[2018-09-13 16:49] MabezDev commented on #12
Hey thanks for your interest in this crate! I would first try the [cortex-m quickstart crate](https://github.com/rust-embedded/cortex-m-quickstart) to get something running on the board, then you can use this hal to control the peripherals on your board, try starting with the blinky example. If you are new to embedded I highly recommend reading the [discovery book](https://rust-embedded.github.io/

[2018-09-15 18:13] #12 closed

[2018-09-21 02:04] twilco opened #13 "What are APB1R1 and APB1R2?"
Hi there!  I'm writing [a HAL for STM32L433xx processors](https://github.com/twilco/stm32l433-hal) and using your project as a model.  Unsurprisingly, they're quite similar :).

In your [rcc.rs](https://github.com/MabezDev/stm32l432xx-hal/blob/6adbc4120b8947fa247acc57be03ffbca7f020b9/src/rcc.rs#L23) file, I noticed something called `APB1R1` and `APB1R2`.  What are these?  I found no mention of the

[2018-09-21 10:50] MabezDev commented on #13
Hello!

When developing HAL's / drivers for these chips generally the info you need is in the [reference manual](https://www.st.com/resource/en/reference_manual/dm00151940.pdf). Navigating to the RCC section in the reference manual you will find references to the APB1R1 & APB1R2 registers.

Hope this helps :)

[2018-09-21 14:31] twilco commented on #13
Awesome, thank you!  I'm new to the ARM ecosystem coming from AVRs, where everything can be found in great detail just in the datasheets.  Suffice to say, these seem to be quite a bit more complex 😅.  It's good to know these reference manuals exist!

Would you mind if I e-mailed you with any further questions that come up?  I don't anticipate many since this manual seems very thorough, but still.

[2018-09-22 12:48] MabezDev commented on #13
Sure! If you haven't already checkout the [Discovery book](https://rust-embedded.github.io/discovery/).

[2018-09-22 12:48] #13 closed

[2018-09-30 16:58] MabezDev commented on #2
Impl in https://github.com/mabezdev/stm32l432xx-hal/compare/v0.2.0...v0.2.1

[2018-09-30 16:58] #2 closed

[2018-10-02 17:46] MabezDev opened #14 "USART not working at higher than HSI clocks"
Following up from https://github.com/MabezDev/mabez-watch-rust/issues/3 , I have come to the conclusion the interrupts are firing but that data is garbage, this of course is only occuring  at clocks higher than 16mhz.

[2018-10-06 15:12] #14 closed

[2018-10-06 23:55] MabezDev opened #17 "Further PLL Configuration"
We have a rudimentary PLL Configurator in master, but its not quite as robust as I would like, being able to calculate the sysclk from given pll configs would be far nicer.

[2018-11-20 11:20] nickray opened #18 "Rename to stm32l4-hal and move device configuration behind feature?"
I am using and extending your HAL implementation (mainly RNG and USB), thanks for your work!

Would you be open to moving the L432 specifics behind a feature, in the way that the F4 implementation does it? https://github.com/therealprof/stm32f4xx-hal/blob/master/src/lib.rs

If yes, I could send a PR. We can also chat to coordinate our efforts if you like, I'm @nickray on freenode and keybase.io (h

[2018-11-20 13:19] MabezDev commented on #18
I would definitely be open to that, it was my intention in the long run but I didn't have the time to explore it as I am currently using this for my dissertation.

I've had a look at the f4 hal and I like how they've done it there, if you would like to submit a PR that does the same thing for this crate that would be awesome :).

[2018-11-22 00:16] #18 closed

[2018-12-11 15:17] MabezDev opened #22 "USART2 Idle line detection not working"

[2018-12-11 18:05] #22 closed

[2018-12-16 04:05] nickray opened #24 "I2C and SSD1306"
So great that you're working on the I2C, thanks! I'm trying to get this to work together with @jamwaffles's `ssd1306` crate, but... no luck so far. Seeing as you have your own OLED driver (is I2C working with your ssd1351?), I was wondering if you see an obvious issue in https://github.com/nickray/ssd1306/blob/2be6dda92c9521a5babd6154f0012d8679898704/examples/stm32l4_graphics_i2c_128x32.rs? All I

[2018-12-16 12:57] MabezDev commented on #24
My ssd1351 display is spi, but I am using i2c for the [max17048 lipo fuel gauge](https://github.com/MabezDev/max17048) and that works great.

Looks fine to me. Try and see if you get anything when writing the address out, if you get a nackf when writing the address that indicates the address is wrong(these displays sometimes have more than one address, check the back of the display) or the wiring

[2018-12-17 01:42] nickray commented on #24
Thanks! The address tip did the trick - this particular display ended up listening on address `0x78`.

[2018-12-17 01:42] #24 closed

[2019-01-07 00:53] MabezDev opened #29 "Feature gate devices"
Currently all the features are effectively useless as they are not device specific.

Things to consider:

- Support specific chips or support chip families instead
- L4+ family of chips?

Currently supporting chip families, but it may be better to go the route of f4 hal by using specific chips.

[2019-01-25 04:59] twilco commented on #29
Are we limited by the fact that the [stm32-rs library only specifies families](https://github.com/stm32-rs/stm32-rs/blob/master/stm32l4/src/lib.rs) for the `l4` series whereas the `f4` series [has individual chips exposed](https://github.com/stm32-rs/stm32-rs/blob/master/stm32f4/src/lib.rs)?

[2019-01-25 22:18] MabezDev commented on #29
I'm pretty sure those are the chip families for the f4, as in the f4 hal crate there are more devices than there are listed in in the stm32-rs crate. I've updated the issue to include a list of the devices, which should make it easier to track what needs feature gating.

[2019-01-26 00:59] twilco commented on #29
Thanks for clarifying.  I have an STM32L433 and would love to lend a hand with this issue.

[2019-02-01 18:23] hellow554 opened #32 "cannot find type `CRRCR` in module `rcc`"
src/main.rs
[code]

Cargo.toml
[code]

[code]

[2019-02-01 19:43] MabezDev commented on #32
This is a bug in master introduced #30, I plan on fixing this and pushing a new release this weekend.

[2019-02-02 13:54] nickray opened #34 "Tests and continuous builds"
Tests would be ideal of course :)

It would be great if at minimum we ensure the crate builds for all the features (checked for pull requests). If someone applies for GitHub Actions for the `stm32-rs` organization, that would be one route, otherwise there is CircleCI or Travis or possibly some Rust / Rust Embedded infra we might use.

[2019-02-03 00:40] mathk commented on #32
You need https://github.com/stm32-rs/stm32-rs/pull/141 to be merged in other to make it work.

[2019-02-23 16:40] tasosxak opened #38 "error[E0412]: cannot find type `CRRCR` in module `rcc`"
`cargo build --release --examples --features="stm32l4x5,rt"`
[code]

[2019-02-23 16:49] MabezDev commented on #38
Duplicate of #32 . Still waiting on https://github.com/stm32-rs/stm32-rs/pull/141 to be merged and released.

[2019-02-23 16:49] #38 closed

[2019-02-25 15:26] tasosxak opened #39 "Blinky.rs for stm32l475 LED PA5"
I modified the blinky.rs example to run for stm32l475:

[code]

[code]

[code]
The program gets stuck at this point.

Openocd :

[code]

[2019-02-25 15:33] MabezDev commented on #39
I guessing your using [this discovery board?](https://www.st.com/en/evaluation-tools/b-l475e-iot01a.html)

According to [this from stm](https://www.st.com/content/dam/technology-tour-2017/hands-on-training_stm32.pdf) `PB14` blinks the LED, try that.

[2019-02-25 15:37] tasosxak commented on #39
[code]

In docs https://docs.rs/stm32l4xx-hal/0.3.6/stm32l4xx_hal/gpio/gpiob/index.html

Doesn't exist the struct PB14

[2019-02-25 15:56] MabezDev commented on #39
I've just opened #40, which includes all the `gpiob` pins.

You can try it out by putting this in you `Cargo.toml`
[code]

also `pb14` exists on the `gpiob` block, not `gpioa`.

[2019-02-25 16:19] tasosxak commented on #39
[code]

Cargo.toml

[code]

[2019-02-25 16:21] MabezDev commented on #39
My bad forgot you were running examples. Just do a pull and checkout `gpiob-full-range`.

[2019-02-25 17:58] tasosxak commented on #39
Solved.
Thank you!

[2019-02-25 17:58] #39 closed

[2019-02-25 18:03] tasosxak opened #41 "Temperature values from HTS221 sensor using stm32l4xx-hal for stm32l475"
Hi,
I try to get temperature values using HTMS221 sensor using this HAL, but I get a compile error.

It appears pb9 and pb10 are SCL and SDA for I2C2

Code:

[code]

Error:

[code]

[2019-02-25 18:31] tasosxak opened #42 "no method named `read` found for type `stm32l4xx_hal::rng::Rng` in the current scope for STM32L475"
`cargo run --release --example rng --features="stm32l4x5,rt"`

Error:
[code]

Cargo.toml

[code]

[2019-02-25 20:19] tasosxak commented on #41
Program:
[code]
Cargo command:
`cargo run --release --example temperature  --features="stm32l4x5,rt"`

Error:

[code]

[2019-03-01 12:55] FrozenDroid opened #43 "Pin alternate functions incorrect for chips that are not STM32L4x2"
I am trying to use I2C, but it won't work.
While trying to research why it won't work, I think I've found why. I am using the STM32L476VG, and if I'm correct @MabezDev is using the STM32L432KC?
If you compare https://www.st.com/resource/en/datasheet/stm32l476vg.pdf (page 92) and https://www.st.com/resource/en/datasheet/stm32l432kc.pdf (page 55). You will see that on the L476VG, PA9 and PA10 do not

[2019-03-08 21:29] MabezDev commented on #42
rng is an unproven trait use the `unproven` cargo feature to enable it

[2019-03-08 21:45] MabezDev commented on #43
You're right as of right now most of the development has been done with the l432 boards. There is a tracking issue #29 for other devices like yours. The plan is to go the same way as the f4 hal an feature gate each chip.

[2019-03-15 13:25] tasosxak commented on #41
[code]

I get runtime error, after this command ` block!(tx.write(b'h')).ok();`

[2019-03-16 23:50] nickray opened #46 "Move from stm32 to pac?"
Over in f1xx land, it seems that `stm32` for the device crate is [being replaced by `pac`](https://github.com/stm32-rs/stm32f1xx-hal/blob/master/src/lib.rs#L98-L102). I guess this is done to unifu the HAL API between e.g ST and nRF chips. We should probably follow suite, with the same [backwards compatibility shim](https://github.com/stm32-rs/stm32f1xx-hal/blob/master/src/lib.rs#L105).

[2019-03-17 00:58] nickray opened #47 "Let's use rustfmt"
Just adding a check to see if you agree.
If so, it should be tested and enforced in https://github.com/stm32-rs/stm32l4xx-hal/issues/34

[2019-03-17 01:02] nickray commented on #34
Do we have a Travis? https://github.com/stm32-rs/stm32f1xx-hal/issues/1 claims all the HALs in stm32-rs do.

[2019-03-17 01:07] therealprof commented on #34
Yes, Travis CI should be available. We're using it for the other HAL impls, too. Check out https://github.com/stm32-rs/stm32f4xx-hal/blob/master/.travis.yml

[2019-03-17 16:29] #46 closed

[2019-03-19 02:27] tasosxak opened #50 "no method named `split` found for type `hal::stm32::GPIOC` in the current scope"
I try to get pc9 for blue led.

[2019-03-24 10:38] vertexclique commented on #32
Any update on this?

[2019-03-25 08:46] hellow554 commented on #32
It has been merged, but AFAICT no new version hasn't been pushed. @MabezDev what's the status?

[2019-03-25 10:03] vertexclique commented on #32
I can push the revamped svd conversions for stm32l4** family, when I have time. Made it work by cloning hal crate(this one) and mcu crate.

[2019-03-25 12:37] mathk commented on #47
LGTM

[2019-03-25 13:05] mathk commented on #29
The L4x6 family is even split into those that have HSI16 and those that does not. How do you see that ?

[2019-03-25 15:54] MabezDev commented on #50
Closed via #51

[2019-03-25 15:54] #50 closed

[2019-03-25 15:58] MabezDev commented on #32
Although the patch has been merged, we are still waiting for @adamgreig to cut a new release of stm32-rs.

[2019-03-30 10:58] tasosxak commented on #41
Bump

[2019-04-09 14:02] smilykoch commented on #32
How do i do that? I am still fairly new in the embedded rust world ;)

[2019-04-10 06:49] smilykoch commented on #32
@vertexclique Could you maybe teach me what you mean when you say "invoke svd2rust with make"?

[2019-04-14 11:33] smilykoch commented on #32
Anyone who will be kind enough to share with me, how to resolve this issue until a new release of stm32-rs is published? I have been able to get a hold of the STM32L4x5.svd file, and ran it through svd2rust, to obtain the three files it generates. But i cannot figure out how they fit together with this repo, and how to replace the dependency with my generated ones?

[2019-04-14 12:35] MabezDev commented on #32
Sorry guys, I really didn't think it would take this long to get a new release of stm32-rs.

Created a branch that uses a custom stm32l4 from stm32-rs master (with the fixes in).

Could you try the following in your Cargo.toml's
[code]

[2019-04-14 12:42] smilykoch commented on #32
Hi.

Great! It seems to work! Thank you very much!

[2019-04-14 14:54] MabezDev commented on #32
Glad to hear it. Hopefully we will get a proper release soon.

[2019-04-16 00:07] nickray opened #54 "Delay not working correctly?"
In an example of mine, Delay's `delay_ms` duration depends on the `rcc.cfg.hclk` setting, is this a known issue? If so I'll look into it.

[2019-04-22 19:06] adamgreig commented on #32
See https://github.com/stm32-rs/stm32-rs/pull/192 for upcoming release including this

[2019-04-27 20:38] twilco commented on #32
Looks like `stm32-rs v0.7.0` has been released containing this fix 🎉

@MabezDev, any idea when you were next planning on cutting a release of this crate?

[2019-05-05 22:47] nickray opened #56 "Simplify gpio.rs?"
I happened on this while looking at https://github.com/stm32-rs/stm32f4xx-hal/blob/master/src/gpio.rs#L341-L345 (because I need AF10, and I felt there was too much copy-pasta): The `f4` crew removed all the "opaque XXX registers" from the API, in particular the `split() -> Parts` only contain the pins themselves.

This makes everything nicer, you can e.g. call `gpiob.pb3.into_push_pull_output()` i

[2019-05-06 00:56] nickray opened #57 "Replace extension traits with constructors?"
Somewhat orthogonal to https://github.com/stm32-rs/stm32l4xx-hal/issues/56, there is a fundamental rethink of the HAL API going on in nRF land. Instead of extension traits with associated constrain/split methods, "constructors" (`new` methods) can be used.

Examples:
- new instead of constrain: https://github.com/nrf-rs/nrf52-hal/commit/1846fcc69e7b7c562a95024ad31591d40d43afef
- new instead of spl

[2019-05-06 05:41] hannobraun commented on #57
I'd like to note that this was only the first step towards a larger refactoring. The end goal is to create a HAL-level `Peripherals` struct that wraps the PAC-level `Peripherals`. There are many reasons for this (and a few criticisms :-) ), and I intend to write an article about it that talks about the subject exhaustively.

Since I haven't written that article yet, here's a very short summary of

[2019-05-06 05:47] hannobraun commented on #57
But whether you buy into my grand vision or not, I believe that replacing extension traits with plain constructors is worthwhile, for the reasons mentioned.

[2019-05-06 08:02] mathk commented on #56
An other way to remove duplication could be to use macro. Also we can still keep the split for the time being but removing the `moder` et al. register in the `Part` and use the same technique using the unsafe block.

One down side I can see is that we could potentially be unsafe if different pin is own by different interrupt handler and all try to modify the pin state. We could have a race conditi

[2019-05-06 11:13] mathk commented on #54
Delay depend on sysclk: https://github.com/stm32-rs/stm32l4xx-hal/blob/master/src/delay.rs#L19 I don't see your issue?

[2019-05-08 17:25] MabezDev commented on #32
`0.4.0` has been release which includes the changes to fix this issue.

[2019-05-10 00:53] nickray commented on #57
@hannobraun: Thanks for piping in with background, and looking forward to your article, please do write it! Agree that the interplay between HAL and PAC is not satisfactory yet. Seems hard to get right...

- As an example: This L4 chip series has a lower voltage range mode (one use case I have is powering via NFC field), which has implications like: USB not available, maximum clock speed and flash

[2019-05-10 06:04] hannobraun commented on #57
@nickray

Wanting to avoid having to check all assumptions is definitely one of the motivations that led me to the `Peripherals` pattern. In [`lpc82x-hal`](https://crates.io/crates/lpc82x-hal), there's the switch matrix, which controls assignment of functions to various pins. Unlike other peripherals, it can't easily (and cheaply) be reset, so preventing the user from messing with the initial stat

[2019-05-18 18:37] twilco commented on #32
Hmm, I'm still seeing the issue after upgrading to `0.4.0`.  The [previously mentioned 0.3.6 fix](https://github.com/stm32-rs/stm32l4xx-hal/issues/32#issuecomment-482965633) also resulted in the exact same compilation issues.

Error:

[code]

`Cargo.toml`:

[code]

`lib.rs`:

[code]

[2019-05-27 02:12] MabezDev commented on #32
@mathk It looks like https://github.com/stm32-rs/stm32-rs/pull/141 did not include the crrcr patch for the x3 chips, was this intentional (i.e it's not actually on the x3 chips) or is this something we need to patch?

[2019-05-27 08:23] mathk commented on #32
I guess we need to patch it. Looks like there is x43 and x33 chip and both reference RM0394 which document HSI48. I think at time of writing the patch I was only looking and the ST website documentation.

[2019-05-27 22:46] MabezDev commented on #32
Ah okay. I've opened a [PR on stm32-rs](https://github.com/stm32-rs/stm32-rs/pull/219) that should add support for the l4x3 chips.

[2019-05-27 23:45] nickray opened #58 "USB"
FYI, my fork of https://github.com/mvirkkunen/stm32f103xx-usb is functional now: https://github.com/nickray/stm32l43x-usbd

It is probably better if it stays external to the HAL, given `UsbBus` is not even an `unproven` trait yet. Thoughts?

AFAICT, L432, L433, L442, L443 have exactly the same USB FS peripheral. Those of you using other STM32L4 chips are more than welcome to test my crate and poss

[2019-05-28 00:06] nickray opened #59 "Flash programming"
While I'm still iterating on the [Flash traits](https://github.com/nickray/stm32l4xx-hal/blob/wip/src/extra_traits/flash.rs), the [implementation](https://github.com/nickray/stm32l4xx-hal/blob/wip/src/flash.rs#L182-L279) is ready [for consumption](https://github.com/nickray/stm32l4xx-hal/blob/wip/examples/flash.rs#L36-L63).

My question is how we'd want to handle "more than unproven" traits, as th

[2019-06-18 06:55] smilykoch opened #60 "Question: Remaining serial interfaces"
Hi.

I am in a situation, where i need USART3 & 4 on my stm32l475. I have implemented these, and they are tested and working fully. Now i would like to add a PR on these, but was thinking i would add the full suite of uart and usart peripherals for the entire family.

So the question is, if i want to contribute this, would you be interested in me doing it in the same fashion as https://github.com/

[2019-06-18 08:14] smilykoch commented on #60
Even better proposal:
Would you be into changing the serial interfaces to work in the same manner as implemented in the stm32l0xx-hal crate? https://github.com/stm32-rs/stm32l0xx-hal/blob/master/src/serial.rs

This would allow to setup the pins to suiting alternate functions within the serial abstraction as:
[code]
I personally think this is a very clean way of doing this. But i think it might be

[2019-06-22 19:34] hellow554 opened #63 "replace embedded_hal::v1 with embedded_hal::v2"
[code]

It should be concidered to upgrade to `v2`. Should not be a big problem, but might break stuff. But I think its worth it.

[2019-06-25 15:49] hellow554 commented on #32
Merged, can this be closed again?

[2019-06-25 15:53] hellow554 commented on #56
I tried with https://github.com/stm32-rs/stm32l4xx-hal/pull/61 to simplify the `into_afxx` functions. @nickray is your link still valid (can you please use the "copy permalink" feature next time, which will link to a specific commit?)
What things are left to do?

[2019-06-25 16:00] hellow554 opened #64 "Expose OSPEEDR register"
Currently, there is no way to set the speed of a pin, because it is not exposed, as e.g. `OTYPER` or `MODER` are.
I think it's as simple as adding `OSPEEDR` to https://github.com/stm32-rs/stm32l4xx-hal/blob/bf14d7b02d828b0a16179a4d6d217852dbc03e22/src/gpio.rs#L152, adding the corresponding opaque definitions + impls.

[2019-07-05 11:56] smilykoch commented on #59
I would love to use this in an application, but i am using stm32l4x5. Would you be interested in adding those to the feature gates? And maybe merging it into master behind the extra-traits gate? Or alternatively creating a separate crate, so we can actually use it together with the newest master code on the hal crate?

[2019-07-05 15:20] nickray commented on #59
I can try and put a PR together, have been using this with littlefs. Might take a bit as my fork diverged quite a lot.

[2019-07-10 07:44] smilykoch commented on #59
@nickray Sounds good! Let me know if i can help with anything!

[2019-07-11 07:36] smilykoch commented on #59
@nickray Also, do you have an example of using the trait implementations (FlashRead & WriteErase) as trait bounds in function or struct declaration?

I cannot work out how to use the generic_array stuff :/

[2019-07-13 21:14] nickray commented on #59
Hmm, I think you're skipping a serialization step there? My traits are to be implemented on the [HAL Flash peripheral](https://github.com/nickray/stm32l4xx-hal/blob/wip/examples/flash.rs#L27). User code then [writes byte slices](https://github.com/nickray/stm32l4xx-hal/blob/wip/src/extra_traits/flash.rs#L119) to a given flash address. I don't think it makes sense to use them as trait bounds on dat

[2019-07-15 13:30] smilykoch commented on #59
Ohh.. Perhaps i should have been more clear.

I want to make a library crate, with a bunch of functions that take in an interface implementing ```Read``` & ```WriteErase```.

So to use my example above, it would look something like:

[code]

And then it can be used as
[code]

Is this a bad/wrong use case? I am still fairly new in the rust world of trait bounds

[2019-07-15 22:53] nickray commented on #59
It's not "bad", it's just not the intended use case. The goal is to be able to read/write arrays of raw bytes. If you want to read/write structs, you'll have to implement it yourself.

[2019-08-06 13:45] yadaniel opened #67 "How to set the stm32l4x2 for stm32l432?"
$ cargo build --release --example blinky
   Compiling typenum v1.10.0
   Compiling semver-parser v0.7.0
   Compiling proc-macro2 v0.4.30
   Compiling unicode-xid v0.1.0
   Compiling stable_deref_trait v1.1.1
   Compiling rand_core v0.4.2
   Compiling cortex-m v0.6.0
   Compiling vcell v0.1.0
   Compiling syn v0.15.42
   Compiling stm32l4 v0.7.1
   Compiling cortex-m v0.5.10
   Compiling cortex-m-s

[2019-08-21 20:11] nickray commented on #58
https://github.com/stm32-rs/stm32-usbd

[2019-08-21 20:11] #58 closed

[2019-08-21 22:36] nickray commented on #67
You need to pass `--features=stm32l4x2`. See e.g. https://doc.rust-lang.org/cargo/reference/manifest.html

[2019-08-21 22:36] #67 closed

[2019-08-21 22:39] nickray commented on #64
Yes, this HAL is definitely incomplete. Pull request welcome!

[2019-08-21 22:42] nickray commented on #63
Yeah. There are plans towards yet-another-digital version (which would possibly not force nonfallible pins to use fallible types); personally I would wait for the dust to settle on that before upgrading.

[2019-08-21 22:43] #42 closed

[2019-08-28 13:28] MabezDev commented on #60
Closed by #65

[2019-08-28 13:28] #60 closed

[2019-08-28 14:11] MabezDev commented on #41
Hi @tasosxak when you get to `rust_begin_unwind` if you continue again in gdb you will get the panic message which will help diagnose the issue.

[2019-08-28 14:12] #32 closed

[2019-08-28 14:15] #34 closed

[2019-08-28 14:16] MabezDev commented on #54
Are you still having an issue @nickray?

[2019-08-28 18:08] nickray commented on #54
Will check.

[2019-08-31 22:26] nickray commented on #54
The issue was that `delay_ms(X)` did not delay for X ms. I can't reconstruct anymore, so closing. If anyone else has the issue, re-open or start a new issue.

[2019-08-31 22:26] #54 closed

[2019-08-31 23:45] nickray commented on #57
For the record, I will definitely not do this in this HAL, putting all effort in [LPC55S6x](https://github.com/nickray/lpc55s6x-hal).

[2019-09-02 19:51] #63 closed

[2019-09-02 19:52] #41 closed

[2019-09-15 21:42] lucazulian commented on #43
I am trying to use I2C and I don't understand why. @FrozenDroid can you explain me the way to fix the problem?

[2019-09-15 21:44] FrozenDroid commented on #43
@lucazulian please explain your problem and I can try to help you.

[2019-09-15 21:47] lucazulian commented on #43
I'm trying to connect with a vl53l0x sensor via I2C but using a STM32L432KC board but I've got alway a `Nack` error on ports gpioa.pa9 and gpioa.pa10. The sensor works on arduino, and I thought the problem was related with this issue.

[2019-09-15 21:50] FrozenDroid commented on #43
No, it's probably not related. This issue is about chips that aren't the STM32L432KC. If you can give me some code, I can maybe help. One thing I found myself wasting time on was the difference between address byte sizes between AVR and ARM. Try shifting the address to the left one plane (addr << 1)

[2019-09-15 22:05] lucazulian commented on #43
Yeah, with your suggestion now it works....I can't explain me why. Anyway, thanks for the help

[2019-11-08 12:47] lucazulian opened #74 "Use of four PWM"
From the example https://github.com/stm32-rs/stm32l4xx-hal/blob/master/examples/pwm.rs I'm trying to use the four pwn, but with this code only the pwm.3 works. Is it possible to use all the pwm exits? What is wrong with my implementation?

[code]

[2019-11-08 13:10] MabezDev commented on #74
I'm a little unfamiliar with the PWM interface. @nickray would you mind taking a look?

[2019-11-08 17:24] nickray commented on #74
So I only ever tested this with an RGB led, so likely missing implementation or implementation error (of the PWM). I'll have a look later, ping me if I forget.

[2019-11-08 18:34] lucazulian commented on #74
@nickray perfect, can I help you with something? Is there a way to use another timer instead of TIM2?

[2019-11-08 23:12] nickray commented on #74
Hey @lucazulian I don't use this chip anymore, so I think you'll have to fix this with a PR :) On first glance I can't see what's wrong.

I assume I cribbed this from another stm32-rs HAL, I think the f3/f4 are the most advanced ones, but can't find anything there. So I think I based the implementation here on https://github.com/stm32-rs/stm32f1xx-hal/blob/master/src/pwm.rs. There are some comment

[2019-11-09 13:15] lucazulian commented on #74
@nickray I've tried with only 2 pwm but only one seem to work

[2019-11-09 13:40] lucazulian commented on #74
I think the problem is related with
```unsafe { (*$TIMX::ptr()).ccer.write(|w| w.cc4e().set_bit()) }```
into Pwm<$TIMX, C4>. If i remove that line the next pwm works and so on

[2019-11-09 14:41] lucazulian opened #76 "MonoTimer always 0 value"
I'm using a loop with `MonoTimer` but it seems not working. The part of the code I'm using:
[code]
But it can see always:
[code]
What am i doing wrong?

[2019-11-09 15:07] MabezDev commented on #76
If you are not using a debugger to run the program, you may [need to  enable tracing in the debug control block](https://github.com/MWatch/kernel/blob/master/src/main.rs#L114) else the DWT may not do anything.

[2019-11-09 15:18] lucazulian commented on #76
Ok, is there a way to have a `MonoTimer` without debugger? How do I fetch the "current time"?

[2019-11-09 15:23] nickray commented on #76
Take the CorePeripherals in `cortex_m` too, and call the two methods mabez linked on them?

[2019-11-09 15:30] nickray commented on #76
I'm surprised DWT is in Peripherals, so maybe DCB is there too? Also have a look at https://docs.rs/cortex-m/0.6.1/cortex_m/peripheral/struct.DCB.html. Unfortunately, due to docs.rs limitations, not all chip documentation is rendered there, but if you build stm32l4 and run `cargo doc --open` locally, that might help you find things.

[2019-11-10 12:17] nickray commented on #76
Did this work out?

[2019-11-12 08:04] #74 closed

[2019-11-19 16:02] #76 closed

[2019-11-26 08:11] lucazulian opened #81 "Serial error with USART1"
I'm using the example in `examples/serial.rs` but I'm not able to receive data, even if I can see data sent from the stm. What is wrong with that implementation with USART1?

[2019-11-26 08:26] MabezDev commented on #81
Going to need more information than that. What error are you getting? What pins and what board are you usung.?

[2019-11-26 08:27] lucazulian commented on #81
This is my implementation
[code]
I've got a rust unwild error

[2019-11-26 08:35] MabezDev commented on #81
Unwild error? What's that?

What board are you using?

On Tue, Nov 26, 2019, 8:27 AM Luca Zulian <notifications@github.com> wrote:

[2019-11-26 11:35] lucazulian commented on #81
I'm using a STM32L432KC on pins D4 and D5 with openocd. When it tries to execute the send
[code]
it stops with that strange error

[2019-11-26 12:26] lucazulian commented on #81
The precise error is
[code]

[2019-11-26 19:45] nickray commented on #81
I assume the unwrap panicked, can you hprintln! the error maybe?

[2019-11-26 20:32] lucazulian commented on #81
I've got differents error messages but I maybe it was my mistake. Thank you

[2019-11-26 20:32] #81 closed

[2019-12-03 22:52] lucazulian opened #82 "Serial Framing error with USART1"
I'am trying to use USART1 with that code with STM32L432KC:
[code]
but it in the serial I only read `F` output mapped as `Error::Framing`. Even with serial examples I have the same error, what am I missing?

[2020-01-25 16:40] MathiasKoch opened #85 "Serial Hardware flowcontrol"
I am currently working on a project where i need hardware flow control of the U(S)ART peripherals (CTS/RTS).
As far as i can see it would only be a matter of setting the two bits in `CR3`, and it should work fully, assuming the two gpio pins for CTS and RTS are already configured for the correct alternate function.

While implementing this, i see two paths and wanted to hear your take on which wou

[2020-01-25 18:07] MabezDev commented on #85
I have implemented the first approach on a different HAL, mainly because like you said it's faster. That said, I really like the second approach.

I'll take either, my preference being the latter option.

[2020-01-25 18:12] MathiasKoch commented on #85
Cool!
I also have already implemented the first one, just so i could get on with my project locally, but just like you i like the latter approach best.

Mainly because it makes it harder for users to screw up configurations.

Ill take a swing at an implementation of the latter :+1:

[2020-01-28 13:31] MathiasKoch opened #87 "Countdown timers longer than 1 sec"
I think the current implementation of the Countdown trait for timers is decent at best, but I am having a hard time seeing how to use it for timers longer than 1 second (1 Hz)?

Maybe we should consider changing the Countdown implementation to use Microseconds as a time and then an `impl From<Hertz> for Microseconds`

as long as it includes the `From<Hertz>` it wouldn't even be a breaking change.

[2020-01-30 21:37] #85 closed

[2020-02-10 11:39] FrozenDroid opened #88 "ADC implementation"
Hi,

For a project I'm working on, I need to use the ADC. Is work being done on it?
For now, I made a quick and crude implementation to use the ADC.
If no work is being done on it, I might take it upon me to handle this issue.

[2020-02-10 14:14] MabezDev commented on #88
I'm not aware of anyone working on it; I myself won't be adding any new features to this HAL, but I am more than happy to review PR's.

[2020-02-24 08:16] unizippro commented on #88
Hi @FrozenDroid
Are you still planning on taking on the ADC?
I would be happy to help or continue your work, if you have made any progress on it.

[2020-02-24 10:21] FrozenDroid commented on #88
@unizippro I am planning to continue and finish the implementation, but don't have the time right now.
Feel free to continue on my work.
https://github.com/FrozenDroid/stm32l4xx-hal/blob/master/src/adc.rs Is what I've started with.
Let me know how you get on.

[2020-02-24 13:59] MathiasKoch commented on #87
Regarding this, would it be an option to use `core::time::Duration` as Time for timers? I think that would make MUCH more sense than using Hertz for a countdown timer?

[2020-02-25 15:40] unizippro commented on #88
@FrozenDroid I have begun working on making a general implementation, still focused on OneShot. It is located on @MathiasKoch s fork in the adc branch, if you want to have a look.

[2020-02-27 15:32] unizippro commented on #88
Hey @FrozenDroid I have gotten quite far, but some of the stuff still needs to be generalized and put into macros. But i have hit a snag on my end. The ADC seems to be measuring to low.. It might be a problem with the hardware setup, but I have yet to find it. Could also just be a bug in the SW somewhere. Can be found [here](https://github.com/MathiasKoch/stm32l4xx-hal/tree/feature/adc).

[2020-02-27 21:27] FrozenDroid commented on #88
Is the measured value a constant value? And how low is too low? @unizippro Can you show me code you're using?

[2020-03-02 08:42] unizippro commented on #88
I'm running the ADC example i have just pushed. except it is running in a RTFM context.
It is not measuring a constant value, but it is a stable one.
`RefVal: 1340, Vdda: 3723, TempVal: 739, Temp: -6392 C, Tcal: (104500, 131500)`
`RefVal: 1339, Vdda: 3725, TempVal: 737, Temp: -6422 C, Tcal: (104500, 131500)`
The degrees are in 1/100th. The Vref measured is too high, it should calculate to a Vdda o

[2020-03-03 21:02] MabezDev commented on #87
TIL that `core::time::Duration` exists...

Seems like using `core::time::Duration` pulls in 64 bit machinery which is a bit meh. I'm not that against it though. Alternatively, a `Microsecond` type backed by a u32 could work too.

I haven't looked at the timer datasheets, but yeah there will be an upper limit on how many seconds the timer can actually count before wrapping around; whether we enforc

[2020-03-04 14:56] unizippro commented on #88
After some work it seems to be a result of the clock setup, so fixing this should result in a correctly working ADC.

[2020-03-06 14:46] unizippro commented on #88
I have now corrected my clock setup, and compared it to an "identical" ADC setup using the C reference library. But they still get differing measurements. I have begun comparing the register setup after the ADC setup in the two code bases. But i have to put this aside until at least this Thursday.
If you have the time it would be really cool if you tested it, as it is working and should be produci

[2020-03-06 20:40] MathiasKoch commented on #17
I think this can be considered resolved by #89 for now?
At least until a bigger consensus is made across all the HAL implementations?

[2020-03-07 13:15] ryan-summers commented on #29
I'm in the process of bringing up a project using the STM32L452 and I'm starting to see the need here (e.g. SPI2 is not exposed via the HAL, but the device has SPI1, SPI2, and SPI3). Since I'll likely need to implement this for my project, I'd be happy to contribute it back to this repository.

Of interest is Section 1.5 of [DM00151940](https://www.st.com/resource/en/reference_manual/dm00151940.pd

[2020-03-11 10:58] FrozenDroid commented on #88
Sorry for the lack of response, been fairly busy.
Unfortunately I don't have an STM32L4x5 so I won't be able to test it.
I can maybe contribute to your code to make it work with the rest of the devices I have (4x2 and 4x6).

[2020-03-12 08:24] unizippro commented on #88
The datasheet covers both the 4x5 and 4x6, so it should be compatible with your 4x6 device. The feature gateing i set up is just so it'll run on my device. But it should be compatible with a lot more than just the 4x5.

[2020-03-15 15:58] ryan-summers opened #93 "I2C does not properly shift address"
The [embedded-hal specifies that I2C addresses are provided as a 7-bit value](https://docs.rs/embedded-hal/0.2.3/embedded_hal/blocking/i2c/index.html) (without the R/W bit). However, this HAL writes the provided address directly into the I2C_CR2 SADD field, where BIT0 is set as the R/W bit. No shifting is completed to properly align the address with the requirements of the `embedded-hal`.

https:/

[2020-03-17 10:19] unizippro commented on #88
I have to put this aside for now, as other deadlines are coming up. If you have the time to test that would be cool.
I have arrived at the point where the C hal and RS hal are quite close with the same clock setup. But some things are still quite off.
C hal adc: ```Vrefval: 1506, Vref: 3312mV, Vtempval: 943, Vtemp: 29```
Rs hal adc: ```Vrefval: 1536, Vref: 3250mV, Vtempval: 658, Temp: -85.85```

[2020-04-01 05:47] MathiasKoch commented on #59
I think this will be fixed by #91 if i'm not mistaken?

[2020-04-05 21:48] L0uisc opened #99 "Replace mem::uninitialized() with mem::MaybeUninit"
I just compiled the crate for the first time, and I get a warning about a use of the deprecated `mem::uninitialized()` function on line 176 of `src/pwm.rs`. Since it is UB to call it, it would be a good idea to replace that asap with `mem::MaybeUninit`.

[2020-04-06 00:02] thalesfragoso commented on #99
The use of it in that case isn't UB, since the type is a zero size type. But we should definitely change that to `MaybeUninit`, since `mem::uninitialized()` is deprecated. Fortunately, the fix is very simple, just change that to `MaybeUninit::uninit().assume_init()`.

[2020-04-11 15:55] korken89 commented on #99
To be more clear, and not potentially fall into problems in the future if the size changes, I'd use a `mem::transmute` instead of `MaybeUninit` there.

[2020-05-02 14:37] MarcoIeni opened #107 "implement Cancel trait for Timer"
Timer in [stm32f4xx-hal](https://github.com/stm32-rs/stm32f4xx-hal/blob/master/src/timer.rs) crate implements the [Cancel](https://docs.rs/crate/embedded-hal/0.2.3/source/src/timer.rs) trait.
You may be interested in doing the same for this crate.
Examples:
- https://github.com/stm32-rs/stm32f4xx-hal/blob/master/examples/timer-periph.rs
- https://github.com/stm32-rs/stm32f4xx-hal/blob/master/examp

[2020-05-10 16:20] MathiasKoch commented on #64
This was fixed by #105, just wrongly referenced

[2020-05-10 19:12] #64 closed

[2020-05-15 06:59] fnafnio opened #111 "Missing I2C3 Peripheral on STM32L476"
I'm working on a STM32L476 which has 3 I2C peripherals, but I2C3 is not implemented by the HAL.

For now I cloned the repo and added it myself, but I would like to create a pull request.
How should I go about feature locking so only devices supporting I2C3 can use it?

[2020-05-23 03:14] Beaudidly opened #115 "Examples failing to build"
Hi!
I was just noticing that I was having quite a bit of difficulty getting the examples to work.
I wish I could understand more, but for example: https://docs.rs/stm32l4xx-hal/0.5.0/stm32l4xx_hal/rcc/struct.CFGR.html#method.freeze seems to have changed implementations since some of the newer examples were written.

Is there a more stable version you'd recommend for playing around?

[2020-06-12 23:35] reneherrero opened #118 "Quickstart"
Hi,

I put together a little quickstart for the [NUCLEO-L432KC](https://www.st.com/en/evaluation-tools/nucleo-l432kc.html) and thought it might be worth incorporating here?  VS Code debugging working too.

https://github.com/reneherrero/nucleo-l432kc-quickstart

Hope it helps

[2020-07-15 13:38] aurelien-m opened #122 "Sending a PWM pattern instead of a duty cycle"
I'm trying to control an LED strip ([WS2812B](https://www.seeedstudio.com/document/pdf/WS2812B%20Datasheet.pdf)) and I would need to be able to send to send a PWM pattern representing 0s and 1s instead of a regular duty cycle. Does anyone know if this would be possible?

Here is a part of what I have:
[code]

What could probably work for me is if before setting a new duty cycle: one period is stil

[2020-07-16 03:28] thalesfragoso opened #123 "Implement Drop for DMA transfer types"
Right now the DMA API is unsound, the problem happens if you use a smart pointer (Box, etc) that deallocates on drop. In that case, the DMA will continue the write/read to the invalid region if the user drops the transfer type.

The `Drop` implementation should stop the DMA. For more information and example see the [embedonomicon](https://docs.rust-embedded.org/embedonomicon/dma.html#destructors).

[2020-07-17 10:41] windelbouwman commented on #122
Would it be possible to hookup a DMA transfer to the PWM peripheral, so that for each PWM cycle, a new timer reload value is selected?

Ideally one would setup a memory buffer with the bit pattern specified as reload values for the 0 and 1 bits, and then trigger a DMA transfer, and stop the PWM afterwards.

[2020-07-21 09:51] MathiasKoch opened #124 "Transition to using Github Actions?"
Would you be up to following the general trend of the embedded-rust, and transition the CI to Github Actions if i dropped a PR?

I can also add Rustfmt at the same time, to fix #47

[2020-07-22 08:10] ceigel opened #125 "No SPI2 for stm32l4x1 devices"
Hi. Is there any reason why the hal only has SPI1 and SPI3 for stm32l4x1 devices?
According to https://www.st.com/resource/en/datasheet/stm32l431cc.pdf (page 64) the stm32l431xx has SPI2 associated with pins SCK=PB13, MISO=PB14, MOSI=PB15.

[2020-07-26 21:06] MabezDev commented on #93
Closed in #126

[2020-07-26 21:06] #93 closed

[2020-07-26 21:09] MabezDev commented on #124
Sure! I think switching to github actions would be a good idea. Adding rustfmt would also be a nice addition!

[2020-07-27 08:30] aurelien-m commented on #122
For anyone interested, here's the code using a DMA transfer to the PWM peripheral in the case for a WS2812b LED strip!
[code]

[2020-07-27 08:30] #122 closed

[2020-07-27 09:52] windelbouwman commented on #122
Note there is an examples folder located, it might make sense to put this particular example in there: https://github.com/stm32-rs/stm32l4xx-hal/tree/master/examples

[2020-08-03 11:10] Wassasin opened #128 "Support longer delays"
Depending on the Systick core clock speed the `rvr` register can not hold a long duration. In my case with a sysclk of 80 MHz only half a second. Some HAL-enabled driver crates use delays longer than this. Hence we should support these long delays by whatever means.

[2020-08-10 14:43] Wassasin opened #130 "Support more sets of I2C pins"
Like SPI support more of the I2C pins. Necessitates a case distinction per series.

[2020-08-20 09:17] mehmetalianil commented on #29
I have an STM32L475, and would love to contribute.

[2020-09-11 09:29] falloutkid opened #139 "I2C pin assign of NUCLEO-L476RG"
I checked [NUCLEO-L476RG board data sheet](https://www.st.com/resource/en/user_manual/dm00105823-stm32-nucleo-64-boards-mb1136-stmicroelectronics.pdf).

The I2C1 pin assign is PB9(I2C1_SDA) and PB8(I2C1_SCL). (P.52)
Then, I checked following pages.

- [Trait stm32l4xx_hal::i2c::SdaPin](https://docs.rs/stm32l4xx-hal/0.5.0/stm32l4xx_hal/i2c/trait.SdaPin.html)
- [Trait stm32l4xx_hal::i2c::SclPin](htt

[2020-09-11 17:57] DrTobe commented on #29
As far as I have understood, there are no chip/device-specific feature gates implemented currently, since I do not see any appropriate features (e.g. `stm32l431`) in `Cargo.toml`, is that correct?

If so, what is the current plan to progress here? Feature-gating a whole device with all peripherals seems like a huge amount of work to me. Maybe, this is the reason why this has not yet been done? Wou

[2020-09-16 09:41] MabezDev commented on #139
That board is a L4x6 device, enabling the `stm32l4x6` features will include the I2C impls for those pins. See: https://github.com/stm32-rs/stm32l4xx-hal/blob/master/src/i2c.rs#L339

[2020-09-16 09:41] #139 closed

[2020-09-16 09:54] MabezDev commented on #115
The examples should be fixed now.

[2020-09-16 09:54] #115 closed

[2020-09-16 09:55] #59 closed

[2020-09-23 06:20] MathiasKoch opened #140 "I2C timing for pclk1 != 8 Mhz"
Hi.

The current calculation for `i2c.timingr` seems to hold only in the case of using `pclk1` as clock source, and only if `pclk1 == 8 Mhz`.

In my case I would like to use `pclk1 = 80 Mhz`, which definitely does not work with the current implementation.

I took a look at how ST calculates the `timingr` value (`presc`, `sdadel`, `scldel`, `sclh` & `scll`), and it looks like they basically "brutef

[2020-09-23 06:42] MathiasKoch commented on #140
Hmm..
Going through it again, it might not be as off as i thought.. I made this to toy around with the implementation: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b8f20bbee9360f0cbf41d8efab3a7242

That said, I still don't think it is a very solid and easy to understand implementation

[2020-09-25 15:24] SelmanOzleyen commented on #88
Hi @unizippro  and @FrozenDroid ;
I used some of the codes you discussed and created a fork with Adc Oneshot above and tested it with stm32l476 and stm32l496 using a potentiometer.

[2020-10-03 21:46] pdgilbert opened #144 "<Output<OpenDrain>> InputPin trait"
(Newbie, so don't assume I know what I'm talking about.)
Trying to work through a couple of examples using dht and dht11 crates I am getting errors

[code]
I think this means that `Output<OpenDrain>>is not recognized as doing both output and input. I do know that this specification does build with several other HALs. (But note that I have not actual got it to work with any of them.) I see that `st

[2020-10-05 05:23] ceigel opened #145 "GPIO pins are missing into_analog"
The GPIO pins can't be configure as analog.

[2020-10-05 05:24] ceigel commented on #145
PR for this: https://github.com/stm32-rs/stm32l4xx-hal/pull/146

[2020-10-06 07:06] keisrk opened #147 "From I2C only sees NACK"
Hi there, thanks for the nice project!

I'm working with stm32l4x5 series chips and trying to talk to ATECC608a over
I2C. ATECC608a is an authentication secure elements that offers you a safe key
storage. Because the device's data exchange protocol is a bit involved, current
`i2c` module won't work as-is.

The symptom is that the `i2c` client only ends up with a NACK error. I figured out that some

[2020-10-15 12:44] grebinger opened #152 "Delay calculation ignores AHB prescaler value"
The Systick periphery is clocked by HCLK. But the implementation of delay uses SYSCLK to calculate the appropriate value for the STK_LOAD register.

This works as long SYSCLK and HCLK are the same frequency (i.e. AHB prescaler value is 1). But in practice those could differ. Tests confirm my suspicion. A delay of 100ms becomes 400ms in real time when AHB prescaler has a value of 4.

[2020-10-15 17:17] cavokz opened #157 "Time for a crates.io release?"
I'd like to use the ExtiPin implementations for configuring interrupts on GPIO in a safe and ergonomic way. Do you have any plans for publishing a new release on crates.io? Can I help anyhow?

[2020-10-25 17:12] ayang726 opened #163 "No SPI3 Interface"
Need to add the following code in spi.rs
`
use hal::gpio::gpioc::{PC10, PC11, PC12};
use hal::gpio:: AF6;
`

`
impl Pins<SPI3>
    for (
        PC10<Alternate<AF6, Input<Floating>>>,
        PC11<Alternate<AF6, Input<Floating>>>,
        PC12<Alternate<AF6, Input<Floating>>>,
    )
{
    const REMAP: bool = false; // TODO REMAP
}`

[2020-10-28 17:14] MabezDev opened #167 "Maintainers wanted"
I am struggling to find the time and resources to review PR's at the moment. On top of which my personal use for the HAL has gone away for the time being, so motivation is at an all time low. I would hate to abandon this project, especially with the influx of new contributions but I simply cannot keep up. If you would like to help maintain this drop a comment in this thread :)

cc: @korken89  @Mat

[2020-10-28 18:11] korken89 commented on #167
We use the HAL in our products so I can help with this!
I do not have so much time, but testing PRs and pulling them in should not be a problem :)

Thanks for all the hard work @MabezDev!

[2020-10-28 22:05] MabezDev commented on #167
Thank you @korken89 :)

I've sent you and invitation.

[2020-10-29 09:53] hannobraun commented on #167
Thank you for all your work, @MabezDev!

I'm currently doing work for a client that uses this HAL, so I'll be active around here for the coming weeks, maybe months. Helping out with some reviews shouldn't be a problem.

I'm not sure if I should offer to help out as a maintainer though. I have no track record here (yet) and I'm unlikely to have a long-term interest in the HAL.

[2020-10-29 11:40] MathiasKoch commented on #167
First up, thanks your your amazing work @MabezDev !

We are running this particular chip and HAL in a production workload as well, and will keep doing so.
I can help out with maintaining if @korken89 wants the help.

[2020-11-02 09:56] MabezDev commented on #167
Thanks guys, invites are sent :).

Appreciate the help!

[2020-11-02 09:56] #167 closed

[2020-11-02 17:07] korken89 commented on #125
Fixed in #159

[2020-11-02 17:07] #125 closed

[2020-11-02 17:09] korken89 commented on #145
Merged!

[2020-11-02 17:09] #145 closed

[2020-11-02 17:10] korken89 commented on #157
I think it's time. @hannobraun @MathiasKoch @MabezDev, should we coordinate a realease after we get rest of the PRs in?

[2020-11-02 22:22] MabezDev commented on #157
Yes, sounds like a good idea.

[2020-11-03 10:20] MathiasKoch commented on #157
Sure thing!
Would love to get #148 in before if possible? I have time for a full review of that and other PR's tomorrow?

[2020-11-03 12:58] korken89 commented on #157
Sounds good to me @MathiasKoch !

[2020-11-05 16:01] #147 closed

[2020-11-05 16:24] MathiasKoch commented on #163
If you open a PR with the changes above, it would go much faster :+1:

[2020-11-05 16:25] #140 closed

[2020-11-05 16:26] MathiasKoch commented on #157
#148 Is merged!

@MabezDev Will you make prepare for a new release at some point? Guess you are the only one with crates.io publish rights?

[2020-11-12 07:59] MathiasKoch commented on #157
Ping @MabezDev

[2020-11-15 08:08] MathiasKoch commented on #128
I think this should be fixed by: https://github.com/stm32-rs/stm32l4xx-hal/pull/143 ?

[2020-11-15 08:08] #128 closed

[2020-12-10 12:17] MathiasKoch commented on #157
@MabezDev Could you make a new release to crates.io here?

[2020-12-11 12:58] MabezDev commented on #157
Apologies for the delay, I've opened https://github.com/stm32-rs/stm32l4xx-hal/pull/175 which is ready to go. Is there anything else we want to do before we release?

[2020-12-11 13:47] MathiasKoch commented on #157
Thank you! I think that should do it :+1:

Sorry for pinging you continuously..

[2020-12-11 16:16] MabezDev commented on #157
No worries, sorry for taking so long!

[v.6.0](https://crates.io/crates/stm32l4xx-hal) is now live!

[2020-12-11 16:16] #157 closed

[2020-12-17 15:15] korken89 commented on #17
Fixed in #89

[2020-12-17 15:15] #17 closed

[2020-12-17 15:16] korken89 commented on #29
Hi, this is correct.
I am not sure on how to proceed here, but we do need to feature gate on each MCU.
If you have an idea I'm very open to input!

[2020-12-18 15:20] korken89 opened #180 "ADC sometimes returns 0?"
Hi,

I am testing the newly merged ADC driver, and I pushed the update out on our system to give it a try.
I have the strange issue that some read the correct ADC value, and some always read 0 from the ADC (note: same firmware running on all).

Ping @hannobraun, have you seen something like this during your developments and what may have been the cause?
The only thing that I can think of is that t

[2020-12-18 15:34] hannobraun commented on #180
I don't think I've seen that, but I'm not sure.

I'm using the ADC as part of a [non-trivial test stand](https://github.com/braun-embedded/embedded-test-stand). I've seen the ADC value reported as 0 quite often, but that always happened while something else was going wrong. In particular, there's a second dev board involved in the testing, which sets a GPIO signal on the ADC pin. When the firmware

[2020-12-18 15:37] korken89 commented on #180
Thanks, for the info!
Then I know that I need to start looking at the driver and usage more closely.
Adding delays in the driver seems to fix the problem, so it seems to be a timing bug in my case.

[2020-12-19 10:05] korken89 commented on #180
It does not seem to be timing, but a know errata error in the STM32L412 series.

![image](https://user-images.githubusercontent.com/913109/102686760-06f7fc00-41ea-11eb-947a-ffd4c556bd0d.png)

[2020-12-19 10:26] korken89 commented on #180
I went through a bunch of STM32L4xx MCU's errata sheets and all state this error.
I think we need to redesign the ADC implementation to take care of this.

[2020-12-19 16:48] korken89 commented on #180
I have been digging even more, what I have found is that whenever a system just get 0 from the ADC the ADC still reads 1 for `DEEPPWD`, indicating that the ADC is still in deep power down.
Not sure what causes this, and I cannot find any reference for this happening in the datasheet nor errata.

Any ideas on this @hannobraun ? I'm quite at a loss here.

[2020-12-23 10:31] hannobraun commented on #167
Hi all. When I last wrote here, I expected that I'd be active in this HALs development for a while, but things turned out differently. First, I ended up doing much less work here than I initially expected. Second, my client project has now concluded, and no follow-up project is scheduled for the time being. This means I won't be very active here going forward, at least for now.

[2020-12-23 10:39] #180 closed

[2020-12-23 11:33] korken89 commented on #167
Thanks for letting us know @hannobraun and thanks for the contributions!

[2021-01-05 21:40] David-OConnor commented on #87
https://github.com/stm32-rs/stm32f3xx-hal/issues

[2021-01-05 22:44] David-OConnor opened #184 "Missing timers?"
Hi. I'm having trouble setting up General purpose timers 3 and 4. Is there a reason they're not available in the hal?

eg:
[code]

I'm new to L4, but from reading the Reference Manual, it appears these timers exist, and behave how they would in other STM32 MCUs.

[2021-01-05 22:44] David-OConnor opened #185 "Missing timers?"
Hi. I'm having trouble setting up General purpose timer 3. Is there a reason they're not available in the hal?

eg:
[code]

I'm new to L4, but from reading the Reference Manual, it appears these timers exist, and behave how they would in other STM32 MCUs.

[2021-01-05 22:47] #184 closed

[2021-01-06 00:11] David-OConnor commented on #185
Got it working. PR: https://github.com/stm32-rs/stm32l4xx-hal/pull/186

[2021-01-10 18:56] David-OConnor opened #188 "Flash wait states in RCC"
I'm going through the RCC module.

1: Check Reference manual section 3.3.3: There are 5 possible wait states. I think the current code is copy+pasted from a different HAL that has a different setup.

2: Wait state calculation is based on HCLK, not sysclk. Ie, you need to offset for the multiplier.

The relevant section should look something like this:
[code]

[2021-01-12 12:53] MathiasKoch commented on #88
I will close this for now, based on https://github.com/stm32-rs/stm32l4xx-hal/pull/173

[2021-01-12 12:53] #88 closed

[2021-01-18 09:56] David-OConnor opened #189 "I2C doesn't work with repeating starts"
This is part of the spec, and is required by some devices. Fixed [in this PR](https://github.com/stm32-rs/stm32l4xx-hal/pull/186). Copy+pasted `write_read` method and 2 supporting macros from the H7 HAL.

Pre-fix: https://i.imgur.com/wONAYTl.png
Post-fix: https://i.imgur.com/8NhBxVk.png

Note the `Sr` (Repeating start) flag towards the left on the fixed one, replacing the `P` `S` (Stop, start) on

[2021-01-18 11:38] eldruin commented on #189
Just weighing in here to point to the I2C specification corroborating this. See: [Figure 13 in section 3.1.10 of UM10204](https://www.nxp.com/docs/en/user-guide/UM10204.pdf#G1656228).

[2021-01-19 22:39] mehmetalianil commented on #29
@MabezDev Footnotes in the Reference manual, or the tail of the source code? I would like to use feature gating to get accustomed to embedded-rust. Where shall I start?

[2021-01-20 02:29] David-OConnor commented on #189
I replaced `write` and `read` with H7's impls as well after encountering additional problems that these resolved. Regrettably, I haven't identified them.  I removed the `Tx`, `Rx` and `Blocking` structs as well.

As a secondary reason, I think these were a bit obfuscating in terms of code style: The task is a linear set of operations.

[2021-01-21 17:58] sourcebox commented on #188
I can confirm that the current wait states configuration is incorrect. Also, prefetch is also not enabled. Is this intentional?

[2021-01-24 10:50] David-OConnor opened #190 "Flash module is preset for 1MB"
`flash.rs` is hardcoded for 1MB flash.
Eg:
[code]

See Reference manual, Tables 8, 9, 10. The above code is hardcoded for Table 8. Can fix with an enum to select.

[2021-01-24 10:53] David-OConnor commented on #190
Nvm; works fine as-is.

[2021-01-24 10:53] #190 closed

[2021-02-03 19:49] japaric opened #193 "[feature request] implement StatefulOutputPin for GPIO output pins"
It would be nice if pins like `PB13` implemented this trait so we can read the current output level (e.g. via the `is_set_low` method).

https://docs.rs/embedded-hal/0.2.4/embedded_hal/digital/v2/trait.StatefulOutputPin.html

(a [`ToggleableOutputPin`](https://docs.rs/embedded-hal/0.2.4/embedded_hal/digital/v2/trait.ToggleableOutputPin.html) implementation would be nice too)

[2021-02-04 09:58] nebelgrau77 opened #194 "enable_cycle_counter not found in DWT (STM32L432KC)"
Hello all,

I have some experience with other STM32 crates, but it's the first time with my new STM32L432KC Nucleo-32 board, and I'm sure it's something simple I'm missing here.
I'm trying to do the simple LED blinking, using the blinky.rs example simplified a bit (no semihosting):

https://github.com/nebelgrau77/stm32l4_blink

It won't compile, the error is:

[code]

What am I missing here? Is th

[2021-02-05 20:12] #194 closed

[2021-02-05 20:13] nebelgrau77 commented on #194
Just as I thought, I was missing something: wrong target in cargo.config :facepalm:

[2021-02-08 15:56] akloboucnik opened #195 "Missing SPI2 on some L4x2 chips"
It seems that SPI2 enabling based on current feature flags is not specific enough. SPI2 is not present as AF5 e.g. for L432KC (see https://www.st.com/resource/en/datasheet/stm32l432kc.pdf, no page ref because SPI2 is no there) but it is e.g. for L452RE (see https://www.st.com/resource/en/datasheet/stm32l452re.pdf page 77) and because it is not enabled for `stm32l4x2` feature, it is not usable even

[2021-02-09 14:09] syelman commented on #29
Hi I have  stm32l496zg and in a month or so I might able to use stm32l476 nucleo. I would like to help.

Note: I tried ADC on both of them and I had enable pwr for some pins for it to work. I also tried it for stm32l476 (with nucleo) and had to change some ascr registers. There are in my fork probably.

[2021-02-09 18:40] japaric opened #196 "[feature request] expose timeout feature in I2C API"
the STM32L433's (at least) I2C peripheral has a TIMEOUTR register to configure a (bus busy?) timeout.
it would be nice to have this supported in the I2C API
I guess the constructor could take a timeout value and then operations like `read`, `write`, etc. would return an `Error::Timeout` if the I2C device takes too long to error (or when there's no I2C device attached to the bus) -- the current beh

[2021-03-08 12:14] #189 closed

[2021-03-08 15:26] DrTobe opened #205 "Redesigning dma::CircBuffer"
The `CircBuffer` seems to be designed for a continuous reception of incoming data, using [`CircBuffer::partial_peek()`](https://github.com/stm32-rs/stm32l4xx-hal/blob/master/src/dma.rs#L725) to give access to the data in the half which is currently being written. Like this, the user/reader does not have to wait for the "HalfComplete" and "Complete" flags/interrupts. In my opinion, this is a valuab

[2021-03-23 23:02] FrozenDroid commented on #188
Is anyone working on this? This seems like a rather critical mistake. If not I'll try to whip up a proper solution.

[2021-03-25 12:27] David-OConnor commented on #167
I'm developing a multi-family HAL crate, and am using it to develop 2 commercial projects that use L4. I our philosophies diverge in a few areas, but we should collaborate.

[2021-03-25 18:11] FrozenDroid commented on #188
I believe this can be closed now :) @MathiasKoch

[2021-03-25 18:18] MathiasKoch commented on #188
Yes, i missed that it wasn't linked

[2021-03-25 18:18] #188 closed

[2021-03-26 22:47] starthal opened #207 "`ADC::to_degrees_centigrade()` is incorrect when VDDA != 3.0 V"
The datasheet describes that the ADC calibration measurements are taken with VDDA/VREF+ = 3.0 V (+/- 10 mV).

When VDDA differs (3.3V in our case), `to_degrees_centigrade()` returns the wrong value.

The raw ADC count should be compensated against `calibrated_vdda` before being used in the linear formula.

[2021-03-28 00:50] #185 closed

[2021-04-12 13:34] ByteNacked opened #209 "STM32L4R9 support"
Greetings,

As follow up for stm32-rs/stm32-rs#455
I want to help with L4R9 hal support.

What are the best first steps to accomplish this task?

Thx

[2021-04-14 09:32] robbym commented on #29
Will this HAL crate support the STM32L4+ series? Like STM32L4R9VG?

[2021-04-14 09:47] MathiasKoch commented on #29
@robbym I don't see why not, but i guess it boils down to someone wanting to contribute the required PR. :+1:

[2021-04-14 09:49] MathiasKoch commented on #209
I think it is mostly a matter of adding the appropriate feature flag on all the peripherals and handling any edge cases or deviations that might come up.

The contribution would definitely be welcomed :+1:

[2021-04-15 22:49] #193 closed

[2021-04-17 11:31] ButtNaked commented on #209
Thx for answer
Okay, i' working on it, PR will follow soon™

@shymega maybe interested too

[2021-04-18 16:17] korken89 commented on #207
Hi, thanks for finding! Do you feel like making a PR?

[2021-04-19 11:39] korken89 commented on #196
Hi, a PR for this would be welcome!

[2021-04-19 11:41] korken89 commented on #205
Hi, this sounds like a good idea!
If you want to give it a try it would be great.

[2021-04-22 05:29] engstad commented on #111
Fixed in https://github.com/stm32-rs/stm32l4xx-hal/pull/215

[2021-04-22 07:05] #111 closed

[2021-04-26 14:53] FrozenDroid opened #219 "Race conditions"
Hi. We've been trying to get our code to run with opt-levels above 1, but we've been having some issues.
Turns out there's some issues where code has been written specifically to work with opt-level 1 or less.
One example is https://github.com/stm32-rs/stm32l4xx-hal/blob/master/src/timer.rs#L60
Here, if you use opt-level 2 for example, this line will be executed before the update event flag is eve

[2021-04-27 12:46] datdenkikniet opened #220 "I2C frequency calculation appears to be incorrect"
When setting the I2C frequency using the `I2c::i2cX` function, it appears that the resulting configuration actually gives a different frequency than the one that was provided as input.

These tests were performed with the following clock configuration:
`rcc.cfgr.msi(MsiFreq::RANGE32M)`

Two examples:
1. When we configured I2C1 with a frequency of `400.khz()`, the resulting I2C clock frequency (as

[2021-04-28 19:11] datdenkikniet commented on #220
Hmm, upon second measurement it doesn't actually seem that this is the case. Unclear why we got those measurements to begin with.

[2021-04-28 19:11] #220 closed

[2021-04-30 16:41] rgw3d opened #223 "LPUART implementation in serial.rs"
I'd like to be able to use the lpuart capability on my STM32L496, and noticed that it wasn't already implemented!

I might make an effort to do this myself, but was curious if someone has thought about this already and had insight as to why it wasn't implemented already.

[2021-05-02 17:12] #43 closed

[2021-05-02 17:12] #130 closed

[2021-05-02 17:19] #195 closed

[2021-05-06 15:26] romixlab commented on #223
Needed the same thing, came up with this, not yet tested though: https://github.com/romixlab/stm32l4xx-hal/commit/1cf33325a04bf5c40eb4cb140723e6a1605bc6c6

[2021-05-07 12:58] romixlab commented on #223
This works: https://github.com/romixlab/stm32l4xx-hal/commit/3a1b7be9c656dedcbdd02c85ddd50d927010a782

[2021-05-20 18:55] nebelgrau77 opened #227 "ADC/linker problem - won't compile (STM32L432KC)"
I'm trying to use the ADC example with an STM32L432KC. If I specify version 0.6.0 of the crate, it can't find ADC1, ADC_COMMON or rcc.ccipr. I used git = "git = "https://github.com/stm32-rs/stm32l4xx-hal" instead and it seemed to compile OK, but then it won't:

 note: "rust-lld" "-flavor" "gnu" "--eh-frame-hdr" "-L" _(omitted)_
  = note: rust-lld: error: undefined symbol: ADC1_2

I believe I have

[2021-05-21 11:05] datdenkikniet opened #229 "API design parity: enabling of a peripheral"
Hi all,

Currently, there are two types of API's being used for enabling peripherals: an `Ext` trait with an `enable` function, or a function similar to `HalPeripheralWrapper::peripheralN(peripheralN: PACStruct)`.

I think it would be good if a single one of these could be picked, at least for expansions to the HAL, to ensure that the API is uniform.

Personally, I'm a bigger fan of the latter met

[2021-05-30 17:45] korken89 commented on #152
Fixed in #231

[2021-05-30 17:45] #152 closed

[2021-05-30 17:48] korken89 commented on #219
Thanks for reporting!

Seems odd, the register access has volatile semantics so they should not reorder.
Have you had a look at the generated assembly?

[2021-05-30 17:50] korken89 commented on #6
Part of #230

[2021-05-30 17:51] korken89 commented on #229
Hi, there is a similar issue open which motivates that we should not have extension traits (and I agree): https://github.com/stm32-rs/stm32l4xx-hal/issues/57

[2021-05-30 17:52] korken89 commented on #227
Seems like an error in the PAC with the fields and interrupt definition.
Could you have a look between the PAC and the reference manual?

[2021-05-30 22:27] FrozenDroid commented on #219
Volatile access is not relevant here. Loading the prescaler value actually just takes a while, and you're not waiting till the update flag is actually set. So you clear it even though it's not set.

[2021-05-31 10:31] nebelgrau77 commented on #227
I don't think I'm versed enough in those details, but I see that in [PAC ](https://github.com/stm32-rs/stm32-rs/blob/master/devices/stm32l4x2.yaml) there are the following lines:

[code]
and ADC1_2 also appears in the NVIC vector table in the [RM](https://www.st.com/resource/en/reference_manual/dm00151940-stm32l41xxx42xxx43xxx44xxx45xxx46xxx-advanced-armbased-32bit-mcus-stmicroelectronics.pdf) as

[2021-05-31 13:43] #163 closed

[2021-05-31 13:43] #99 closed

[2021-05-31 13:45] korken89 commented on #223
The answer to not being implemented yet is simple, none of the maintainers has needed it yet :)
We would welcome a PR adding the LPUART.

[2021-05-31 13:47] korken89 commented on #144
Hmm, seems like the GPIO module would need some extension to handle this.

[2021-05-31 13:48] korken89 commented on #123
This will be fixed in #230 (cont. of #165)

[2021-05-31 13:49] korken89 commented on #118
Hi, if you feel like making an example for the quickstart of the board it would be welcome!

[2021-05-31 13:52] korken89 commented on #107
Hi, thanks for the request.
If you feel like helping and making a PR for this, it would be appreciated!

[2021-05-31 16:32] MarcoIeni commented on #107
sorry, I don't have the time for this, plus I don't have this microcontroller.

[2021-06-01 07:35] korken89 commented on #219
Ah, I see.
You seem to understand how the timer works in this case, could you provide a patch for this issue?

[2021-06-01 07:37] korken89 commented on #227
Hmm, unclear what is the issue here.
But the error you get are consistent with an error in the PAC.

Could you open an issue in `stm32-rs/stm32-rs` and link it here?

[2021-06-01 09:14] nebelgrau77 commented on #227
OK, done: https://github.com/stm32-rs/stm32-rs/issues/561

[2021-06-01 09:15] korken89 commented on #227
Thanks!

[2021-06-02 03:05] Crzyrndm opened #233 "I2C NACK polling"
current master branch asserts that the buffer length for I2C::read and I2C::write is at least 1 and less than 256 (1..=255)

write: https://github.com/stm32-rs/stm32l4xx-hal/blob/master/src/i2c.rs#L254
read: https://github.com/stm32-rs/stm32l4xx-hal/blob/master/src/i2c.rs#L308

A fairly common I2C requirement is checking if an address is present/responding by just writing the address and checking

[2021-06-06 16:28] jglauche commented on #223
would you like to make this a PR? I'm in need of the same thing. I don't want to work on it too if you plan to do this soonish.

[2021-06-06 18:22] pdgilbert opened #235 "bxcan/defmt version conflict"
(Problem introduced in recent merge!)
Could you please relax the version constraint on bxcan to ">=0.4" or ">=0.4, <0.6" for reasons described at stm32-rs/stm32f7xx-hal#114 (comment). There is also more detail at these two pull requests that have been merged.
- stm32-rs/stm32f4xx-hal#286
- stm32-rs/stm32f7xx-hal#115

[2021-06-06 20:22] korken89 commented on #235
Thanks for the report, I have pushed a fix that relaxes the version requirement.

[2021-06-06 20:26] #235 closed

[2021-06-06 20:29] rgw3d commented on #223
I have not been able to work on this at all

[2021-06-06 21:30] pdgilbert commented on #235
Thanks.

[2021-06-20 19:21] #123 closed

[2021-06-22 16:35] #6 closed

[2021-06-23 20:29] romixlab commented on #223
Finally got some time to work on this, PR is open.

[2021-08-09 07:26] davidji commented on #87
I'm just porting across from from stm32f1xx_hal, where timer.start(600.us()) works. Here's a link to the embedded hal documentation: https://docs.rs/embedded-hal/0.2.6/embedded_hal/timer/trait.CountDown.html. The example in the documentation won't compile. This is really confusing.

[2021-08-18 06:53] davidlattimore opened #243 "Allow custom timing bits with i2c"
I'd like to use the I2C code provided by this HAL crate, but it's not working for me due to the way the value for the timing register is computed. The same problem exists in many HAL crates and I started a discussion about it [here](https://github.com/stm32-rs/stm32h7xx-hal/issues/238).

What would you think of changing the API to allow the user to specify the timing bits instead of the frequency

[2021-08-19 11:48] #243 closed

[2021-08-31 13:03] DrTobe commented on #205
Resolved with https://github.com/stm32-rs/stm32l4xx-hal/pull/242

[2021-08-31 13:03] #205 closed

[2021-09-05 17:23] fhars opened #247 "Sysclk handling in Rcc::CFGR::freeze() is inconsistent when a PLL is used"
As far as I understand the code, all clock calculations in `freeze()` use the last sysclk value specified with either the `sysclk()` or the `sysclk_with_pll()` methods, but if `sysclk_wit_pll()` has been called at least once, the actual sysclk used is the output_clock as calculated in [let output_clock = vco / r;](https://github.com/stm32-rs/stm32l4xx-hal/blob/6f457bec255e559066facdb0f6e8ca2ba21ad

[2021-10-01 21:06] pdgilbert opened #255 "af4 open drain output"
After the  alternate function changes https://github.com/stm32-rs/stm32l4xx-hal/commit/104b568bc063c4c7fbad9e03d3ed7d9aa4e4e5e7  I am having trouble finding the correct syntax for af4 open drain output.  I can use `.into_af4_opendrain(...)` and  `.into_open_drain_output(...)`  but I get

[code]
Variations on the obvious  `.into_af4_open_drain_output(...)` do not seem to be available.

I am also ha

[2021-10-02 04:58] korken89 commented on #255
@DrTobe could you have a look?
You know this change inside and out :)

[2021-10-02 08:56] DrTobe commented on #255
Yep, for sure.

For the first issue, `.into_af4_opendrain(...)` is the right method to call for you. It does what `.into_open_drain_output(...)` followed by `.into_af4(...)` did before. The issue arises because your application probably specifies somewhere that a parameter or field must be of type `PA9<Alternate<_, Output<OpenDrain>>>` which does not exist anymore. Instead, the corresponding types

[2021-10-02 09:12] DrTobe commented on #144
Shall we resolve this by also implementing the `InputPin` trait for pins configured as output pins? This may be irritating for push-pull pins but as far as I know the hardware can read back the actual pin level on an output pin. For open-drain pins, this _is_ meaningful, especially when setting the pin to high-impedance output state.

[2021-10-03 05:03] korken89 commented on #144
To me or would make perfect sense to do so :)

[2021-10-03 15:27] pdgilbert commented on #255
Thank you @DrTobe.  All my examples that were previously working are now working again. I do have one long outstanding problem with open drain input (#144). I think this may have also been fixed by the recent alternate function changes but I'm not sure. I've just been attempting it but still with no success. I'll close this and put that question in #144. (For anyone reading this thread the CI for

[2021-10-03 15:27] #255 closed

[2021-10-03 15:29] pdgilbert commented on #144
(Related to #255)  I am wondering if recent changes in alternate functions may have fixed the open drain input problem. My current version of the example (further below) gives

[code]
The example code is
<details>
<summary>Click to expand</summary>

[code]
</details>

[2021-10-07 03:12] Crzyrndm opened #257 "ADC temperature calculation"
Porting a STM32L476 project from C -> Rust that used the ADC to measure the device temperature. The resulting temperatures in Rust are not exactly what you would expect.

Digging through the implementation, there's a few issues that I can identify
* No startup delay in [enable_temperature](https://github.com/stm32-rs/stm32l4xx-hal/blob/master/src/adc.rs#L202). This is [120us in the LL driver defin

[2021-10-11 16:40] jhbruhn opened #260 "Reconfiguring Clocks results in endless loop"
When initializing the clocks again, the device gets stuck in an endless loop during clocks freeze(): https://github.com/stm32-rs/stm32l4xx-hal/blob/e3a1333134f9414c96e69dde3833eab384dfdcf6/src/rcc.rs#L738

This scenario is relevant in bootloader + application scenarios for example, where the application initializes the clocks independently from the bootloader.

[2021-10-14 04:10] Crzyrndm commented on #29
This is currently blocking me (see the ADC issue) leading to maintaining a fork for my current project. I don't want to continue this long term so want to at least make a start on this.

Is there any opinion on whether feature groups should continue to make feature checks less verbose? Potentially named as something obviously for internal use since many features are common to a large set of device

[2021-10-17 22:57] sourcebox opened #262 "How to convert frequency types (e.g. Hertz) back to u32?"
This does not work because `systick.set_reload()` requires an u32 value:

`systick.set_reload(clocks.hclk() / 1000 - 1);`

So what's the way to go here?

[2021-11-04 23:17] #262 closed

[2021-11-05 15:50] pdgilbert opened #269 "AF4, etc"
In updating some example for a recent change committed in the git version
(`const generics gpio (from F4)`  https://github.com/stm32-rs/stm32l4xx-hal/commit/2f5b39535a18ffe4d151c238394f7e8cb855a57a) I have had to change
[code]
to
[code]
Is there a simpler/clearer way I should specify this, or is there some reason to not export `AF4`?

For comparison, with other hals I have
[code]
and by far the `s

[2021-11-05 15:54] pdgilbert commented on #144
This was resolved by #263.

[2021-11-05 15:54] #144 closed

[2021-11-15 17:52] shymega commented on #209
Hey, forgot about this issue. I've come back to this embedded firmware. Currently, I've just realised I need the HAL crate as well. Anything I can do?

[2021-11-15 18:47] ByteNacked commented on #209
Hello,
All my work in  https://github.com/ByteNacked/stm32l4xx-hal/tree/stm32l4r9 branch,
but it's a little bit dated, and I've never had time to polish it to PR.

It has barely enough peripherals for my device, though worked quite well for me.

[2021-11-15 19:29] shymega commented on #209
I'm rebasing against master. Everything applies cleanly except for two `pins!` macros. I've attached the file that doesn't rebase cleanly. Any ideas on what to keep? I'm doing this on my fork - if you want to collab on the same repo though, we can arrange that...
[i2c.rs.txt](https://github.com/stm32-rs/stm32l4xx-hal/files/7541221/i2c.rs.txt)

[2021-11-15 20:00] ByteNacked commented on #209
Commit `dd96a55 (Add basic stm32l4r9 support)` adds only some feature-gating https://github.com/ByteNacked/stm32l4xx-hal/commit/dd96a5567a60a0649caa18da939eec273d30a69c .
So you probably should keep only feature gate attributes and/or move them in the right places.

[2021-11-15 20:14] shymega commented on #209
Sure, I was referring to the `pins!()` macro usages though - unless the commit you refer to is related?

[2021-11-15 20:15] shymega commented on #209
oops. nvm.

[2021-11-15 20:22] shymega commented on #209
Hm. I'm not sure what I'm doing with these particular regions, and I need to familiarise myself with STM32-rs...I don't have a STM32L4R9, so I don't want to commit broken code.

[2021-11-25 17:52] shymega commented on #209
OK, so there are actually three files here that don't rebase cleanly against `master`:

- `src/i2c.rs`
- `src/gpio.rs`
- `src/serial.rs`

As I don't have an L4R9, I am unable to resolve these issues without hands-on knowledge, or other information, so I'm going to have to leave the rebasing for the moment. If anyone else with an STM32L4R9 can rebase against master and resolve these issues, that'd

[2021-11-29 20:55] jspngh commented on #209
@shymega, you can also have a look at #270.

[2021-12-11 22:55] Crzyrndm commented on #29
With the merge of #266, advancing this should be a bit easier. My focus is likely to be geared toward the L476 and L496 as I have hardware which would benefit, but other bits and pieces are likely (e.g. #264 )

A few comments
* #[cfg] and features are to me a relatively irritating part of Rust in that many bits of it feel incomplete (e.g. no ("internal" features)[https://github.com/rust-lang/cargo

[2021-12-12 02:37] Crzyrndm opened #275 "Expand ADC feature set"
Was just looking at adding ADC2/ADC3, but adc's are a fairly big target feature wise so a full list of features and implmentation status seems like a good starting point (from RM0394 "ADC main features"). Significant chunks of this will work and can be checked off immediately (for ADC1 anyway).

Going through the C HAL, it seems very likely that other than the number of peripherals, the ADC behave

[2021-12-12 03:07] Crzyrndm commented on #275
ADC1 does have some DMA integration. Not sure how complete it is (sub features?)

[2021-12-13 09:09] korken89 commented on #29
For now, I think we are stuck in  `cfg`-hell as you say. Sadly I have no good idea on how to generalize this better. :(

This would be great for not making copy-paste mistakes, but I don't think this exists today.

[2021-12-13 19:05] #257 closed

[2021-12-18 03:49] Crzyrndm opened #277 "simplification(?) of 'stm32l4xx' feature detection"
As it currently stands, detection of device specific features is rather unwieldy (prone to repetition, potential errors, verbosity, ...).

There are few specific issues currently
1. Lack of abstraction: A feature gate is often needed in multiple locations, requiring repetition of the condition in many places
  a. There is also a lack of clarity because the condition is a list of devices, not a nam

[2021-12-19 02:25] Crzyrndm opened #279 ".cargo/config in root makes writing utilities more frustrating"
cargo traverses parent directories until it fins a .cargo/config and then applies that at any level.
Because of this, there is no way to write tooling for the current PC that doesn't require `--target=...` which is somewhat frustrating when that's what you're trying to do...

Ran into this trying to write a script to generate the macros for #277. A build script would avoid the issue but this would

[2021-12-24 03:25] Crzyrndm commented on #277
I think I've found the "correct" way fo doing this while investigating build scripts a bit more. https://doc.rust-lang.org/cargo/reference/build-scripts.html#rustc-cfg

In its simplest form
[code]
With a few additional helpers, this can easily generate any combination of internal configurations and as can be seen with ^^ example, composes just fine with standard features.

Stylistically, you can u

[2021-12-25 03:15] Crzyrndm commented on #279
use build script or a different crate

[2021-12-25 03:15] #279 closed

[2022-02-27 02:45] Crzyrndm opened #294 "Logging improvements (tests / examples / impls)"
Examples currently use a mix of logging methods (semi-hosting / RTT / ...?). it would make sense to standardise on one here.

My past experience with semi-hosting has been "unpleasant" and Rust tooling for RTT (cargo-embed, rtt-target, rtt-logger, and derivatives of like probe-run/defmt) has been relatively easy to use with none of the sharp edges that semi-hosting has (I realise that examples are

[2022-03-02 09:28] gauteh commented on #233
Assert removed in #295 . Tested on r5.

[2022-03-02 12:12] korken89 commented on #209
Cool, closing

[2022-03-02 12:12] #209 closed

[2022-03-03 09:35] korken89 commented on #294
Moving to `defmt`/`rtt-target` would be nice IMO.

[2022-03-03 09:35] #294 closed

[2022-03-04 13:43] milesgranger opened #296 "Question: SPI scrambled messages."
Hi there!

Preface: the world's okayest noob for embedded Rust. :smile:

I have a STM32L475 on a [B-L475E-IOT01A2](https://www.st.com/en/evaluation-tools/b-l475e-iot01a.html) and attempting to interact with the [ISM-43362](https://www.inventeksys.com/wp-content/uploads/ISM43362_M3G_L44_Functional_Spec.pdf) WIFI module.

The SPI slave interface of which, mentioned in that link is:
[code]

When issu

[2022-03-05 14:16] gauteh commented on #233
Fixed for write

[2022-03-05 22:28] Crzyrndm commented on #294
In the interest of keeping things relatively simple in the examples: probe-run / defmt::println have less setup / configuration than cargo-embed (e.g. having a logging session open by default after flashing)

There is also defmt-test which I have been considering adding to make it easier to verify changes

[2022-03-08 20:20] #296 closed

[2022-03-15 21:18] samueltardieu opened #300 "Time for a release?"
A lot of things have changed since the last release in December 2020. A release would let people write code against a specific published version instead of a git commit.

[2022-03-29 00:48] TornaxO7 opened #304 "[Question] Documentation of `constrain` in example"
Hello, as the title says I can't find the documentation about the [`constrain`](https://github.com/stm32-rs/stm32l4xx-hal/blob/master/examples/usb_serial.rs#L40) function in the [Peripherals documentation](https://docs.rs/stm32l4xx-hal/latest/stm32l4xx_hal/stm32/struct.Peripherals.html). What am I doing wrong?

[2022-03-29 00:50] TornaxO7 commented on #304
Oh eh... I found it... it's in the hidden docs of a trait.... (https://docs.rs/stm32l4xx-hal/latest/stm32l4xx_hal/flash/trait.FlashExt.html#tymethod.constrain)...

[2022-03-29 00:50] #304 closed

[2022-04-01 11:23] MabezDev commented on #300
I just realized I never gave @korken89 permissions on crates.io! Should be an invite in your inbox :).

[2022-04-03 08:45] korken89 commented on #300
We could make a release, if someone feels like making a release PR I can publish it now :)

[2022-04-04 11:33] samueltardieu commented on #300
I've opened #305.

[2022-04-07 07:23] korken89 commented on #300
Published!

[2022-04-07 07:23] #300 closed

[2022-04-27 20:23] msrd0 opened #314 "Is it possible to configure half-duplex SPI?"
I want to connect an SPI display to my STM32L476 nucleo board, which does not return any data, so the STM32 chip will never have to read any data. Therefore, I was trying to setup a half-duplex SPI connection, similar to how [`NoMiso`](https://docs.rs/stm32l0xx-hal/latest/stm32l0xx_hal/spi/struct.NoMiso.html) exists for the STM32L0xx crate. However, I was unable to find a similar struct in this cr

[2022-05-03 05:27] reitermarkus commented on #107
The `Cancel` trait is implemented now.

[2022-05-03 06:06] MarcoIeni commented on #107
Great, I will close this :)

[2022-05-03 06:06] #107 closed

[2022-05-29 11:45] Guozhanxin opened #320 "Are there any plans to release a new version recently?"
Are there any plans to release a new version recently? Currently only 0.6.0 is available on cargo

[2022-06-06 16:42] MabezDev commented on #320
https://crates.io/crates/stm32l4xx-hal the latest is 0.7.1.

[2022-06-06 16:42] #320 closed

[2022-06-17 20:42] BinhaoQin opened #323 "STM32L4R5 PAC file is released"
It seems that PAC file f or stm32l4r5 has just released in stm32-rs. Perhaps now stm32l4r5 feature can be enabled.

[2022-07-02 20:33] mattcarp12 commented on #323
What needs to happen to get this done?

[2022-07-02 20:35] mattcarp12 commented on #323
Here is a PR https://github.com/stm32-rs/stm32l4xx-hal/pull/292. The build is failing.

@gauteh

[2022-07-04 11:54] mattcarp12 commented on #323
New release from stm32-rs https://github.com/stm32-rs/stm32-rs/releases/tag/v0.15.0 including the L4R5 support.

New PR here: https://github.com/stm32-rs/stm32l4xx-hal/pull/324

[2022-07-04 14:55] BinhaoQin commented on #323
Great!

[2022-09-13 23:15] Lol3rrr opened #329 "Start work on adapting embedded_hal 1.0"
# Reasoning
Considering that embedded_hal is moving towards a 1.0.0 release, it might make sense to slowly start migrating or prepare to migrate this project to embedded_hal 1.0.0 as well, to stay up to date.

# Proposal / Idea
Given that embedded_hal is still working on 1.0 alphas, we might want to add a seperate branch for that as well, so we might be able to more closely follow the development

[2022-09-22 23:05] 762SPR opened #331 "PA1 for SPI1"
PA1 doesn't seem to be implemented for SPI1 (AF5).

This is for a STM32L432KC.

[2022-11-04 18:12] seanybaggins opened #334 "Usb device not presented for otg-fs example on STM32L476ZGTx"
Running `cargo run --example otg_fs_serial --features "stm32l476 otg_fs rt"` and then running

`lsusb | grep 16 `

yields no results.

[2022-11-04 18:15] seanybaggins commented on #334
See https://github.com/David-OConnor/stm32-hal/issues/64

[2022-11-29 13:57] embediver commented on #331
#332 feature gates this for all applicable stm32l4xx mcu's.